@import url("https://fonts.googleapis.com/css?family=Archivo:700");
@import url("https://fonts.googleapis.com/css?family=Archivo");


* {
    font-family: "Archivo";
}

.indexPage {
    width: 100%;
    height: 120vh;
    margin-top: -1vh;
}